
<div class="infobox">

<div class="picture">
  <img src="https://i.imgur.com/TIa4J6j.jpg" alt="Nice picture of Dusan" style="width: 300px; height: 400px; ;">
</div>

<h2>Hi, this is basically me.</h2>


 I don't like writing about myself and this portfolio is no exception. I am a good designer though, I can make your portfolio look much more professional than my own with the unique option that your website fits your personality. I really believe that every human being is special and that we should embrase divesity, therefore shoot me a message on LinkedIn.
 <br>
 <br>
We should get a coffee together
<br>
<br>